header {
    display: flex;
    text-decoration: rgb(33, 176, 33);
    background-color:transparent; /* Green background */
    padding: 1px 7px; 
    justify-content: space-between;
    position: static;
    text-align: center; 
}
  .btn-bd-primary {
    --bd-violet-bg: #083219;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #05361e;
    --bs-btn-hover-border-color: #134e07;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #07380d;
    --bs-btn-active-border-color: #083d1b;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .bi {
    width: 1em;
    height: 1em;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }
  .navbar-brand{ 
    color: rgb(4, 173, 57) rgb(10, 114, 43);
    padding: 3px;
    margin: 30px 60px;
    font-size: 60px;
  }
  .nav-link{
    display: flex;
    justify-content: center;
    color: rgb(9, 3, 3);
    margin: 20px;
    padding: 50px;


  }
  body{
    background-color: #ffffff;
  }
  .d-flex{
    justify-content: center;
    background-color: transparent;
    border-radius: 2px;
  }